body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* background-color: #f7f7f7 ; */
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#console {
    position: absolute;
    width: 20em;
    left: 1em;
    top: 3em;
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid #ca562c;
    background-color: #333333;
    color: #f7f7f7;
    opacity: 90%;
}

.box {
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 10px 4px 0;
}

#loss {
    font-weight: bolder;
}

.mapboxgl-popup-content {
    width: 5 em;
    height: max-content;
    border: 2px solid #ca562c;
    background-color: #333333;
    color: #f7f7f7;
    opacity: 80%;
    border-radius: 18px;
    margin-bottom: 3px;
  }
